.Education {
  width: 70%;
  height: 100vh;
  position: relative;
  .education-header {
    height: 10vh;
    display: flex;
    .burger-menu {
      cursor: pointer;
      height: 50%;
      margin-top: 15px;
      margin-left: 20px;
      width: 50px;
      display: none; // flex
      flex-direction: column;
      justify-content: space-around;
      .line {
        border: 2px solid $brightOrange;
        border-radius: 50px;
      }
      .line-2 {
        width: 70%;
      }
      .line-3 {
        width: 50%;
      }
    }
    h2 {
      text-align: center;
      width: 100%;
      align-self: center;
      color: $lightGray;
      font-size: 30px;
    }
    .close-button-education {
      align-self: center;
      fill: $lightGray;
      cursor: pointer;
      margin-right: 20px;
    }
  }
  .education-body {
    height: 89.5vh;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $brightOrange $deepBlack;
    .image-container {
      height: 70vh;
      padding: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .button-container {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-self: center;
      button {
        background-color: $brightOrange;
        border: none;
        color: $lightGray;
        margin: auto;
        padding: 20px 40px;
        cursor: pointer;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        transition: background-color 0.5s;
        &:hover {
          background-color: #b33c3c;
        }
      }
    }
    .education-item {
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, $brightOrange, $lightGray);
      margin-bottom: 30px;
      .item-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        span {
          color: $lightGray;
          font-weight: bold;
          font-size: 20px;
        }
        .action-buttons {
          width: 80px;
          display: flex;
          justify-content: space-between;
          svg {
            cursor: pointer;
            &:first-child {
              fill: $lightGray;
            }
            &:last-child {
              fill: rgb(180, 0, 0);
            }
          }
        }
      }
      .item-main {
        padding: 20px;
        text-align: center;
        .degree-title {
          color: $lightGray;
          font-weight: bold;
          font-size: 50px;
        }
        .location {
          color: $lightGray;
          font-size: 20px;
        }
      }
      .item-description {
        padding: 20px;
        p {
          color: $lightGray;
        }
      }
    }
  }

  .education-modal {
    height: 89.5vh;
    form {
      height: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      div {
        label {
          display: block;
          margin-bottom: 5px;
          color: $lightGray;
        }
        input {
          width: 100%;
          background-color: $deepBlack;
          border: none;
          border-bottom: 2px solid $lightGray;
          padding: 0 5px 5px 5px;
          color: $lightGray;
          &:focus {
            border-top: none;
            border-right: none;
            border-left: none;
          }
        }
        .error-pop-up {
          color: $brightOrange;
        }
      }
      .period {
        display: flex;
        div {
          width: 50%;
          input {
            width: 150px;
          }
        }
      }
      .description {
        textarea {
          width: 100%;
          background-color: $deepBlack;
          border-radius: 5px;
          border: 1px solid $lightGray;
          color: $lightGray;
          padding: 5px 10px;
          font-family: $NotoSans;
          resize: none;
        }
      }
      button {
        background-color: $brightOrange;
        color: $lightGray;
        font-weight: 500;
        font-size: 20px;
        width: 200px;
        margin: 0 auto 0 auto;
        border: none;
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.5s;
        &:hover {
          background-color: #b33c3c;
        }
      }
    }
  }
}

// Secondary button to add items
.add-education-btn {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: $brightOrange;
  border: none;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.5s;
  svg {
    fill: $lightGray;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: #b33c3c;
  }
}

@media screen and (max-width: 993px) {
  .Education {
    width: 100%;
    .education-header {
      .burger-menu {
        display: flex;
      }
    }
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .PersonalInfo {
    .education-body {
      .image-container {
        padding: 90px;
      }
    }
  }
}

// phone
@media screen and (max-width: 360px) {
  .Education {
    .education-body {
      .image-container {
        padding: 0 20px;
      }
    }
  }
}
