.PersonalInfo {
  width: 70%;
  height: 100vh;
  .info-header {
    height: 10vh;
    display: flex;
    .burger-menu {
      cursor: pointer;
      height: 50%;
      margin-top: 15px;
      margin-left: 20px;
      width: 50px;
      display: none; // flex
      flex-direction: column;
      justify-content: space-around;
      .line {
        border: 2px solid $brightOrange;
        border-radius: 50px;
      }
      .line-2 {
        width: 70%;
      }
      .line-3 {
        width: 50%;
      }
    }
    h2 {
      text-align: center;
      width: 100%;
      align-self: center;
      color: $lightGray;
      font-size: 30px;
    }
    .close-button-container {
      align-self: center;
      fill: $lightGray;
      cursor: pointer;
      margin-right: 20px;
    }
  }
  .info-body {
    height: 89.5vh;
    .image-container {
      height: 70vh;
      padding: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .button-container {
      height: 19.5vh;
      display: flex;
      justify-content: center;
      align-self: center;
      button {
        background-color: $brightOrange;
        border: none;
        color: $lightGray;
        margin: auto;
        padding: 20px 40px;
        cursor: pointer;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        transition: background-color 0.5s;
        &:hover {
          background-color: #b33c3c;
        }
      }
    }
  }
  .personal-info-modal {
    height: 89.5vh;
    form {
      height: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      div {
        label {
          display: block;
          margin-bottom: 5px;
          color: $lightGray;
        }
        input {
          width: 100%;
          background-color: $deepBlack;
          border: none;
          border-bottom: 2px solid $lightGray;
          padding: 0 5px 5px 5px;
          color: $lightGray;
        }
      }
      button {
        background-color: $brightOrange;
        color: $lightGray;
        font-weight: 500;
        font-size: 20px;
        width: 200px;
        margin: 0 auto 0 auto;
        border: none;
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.5s;
        &:hover {
          background-color: #b33c3c;
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .PersonalInfo {
    width: 100%;
    .info-header {
      .burger-menu {
        display: flex;
      }
    }
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .PersonalInfo {
    .info-body {
      .image-container {
        padding: 90px;
      }
    }
  }
}

// phone
@media screen and (max-width: 360px) {
  .PersonalInfo {
    .info-body {
      .image-container {
        padding: 0 20px;
      }
    }
  }
}
