* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222831;
  font-family: "Noto Sans", sans-serif;
}

.App {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.not-visible {
  display: none !important;
}

.focus-list-element {
  padding: 10px 0 10px 20px;
  background-color: #222831;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #f05454, #222831);
}

.Menu {
  background-color: #30475e;
  height: 100vh;
  width: 30%;
  z-index: 99;
}

.Menu .menu-header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.Menu .menu-header h1 {
  color: #f05454;
  font-size: 30px;
}

.Menu .menu-header svg {
  width: 40px;
  height: 40px;
  fill: #f05454;
  cursor: pointer;
}

.Menu .menu-header svg:hover {
  fill: #b33c3c;
}

.Menu .menu-body {
  height: 90vh;
}

.Menu .menu-body ul {
  padding-left: 30px;
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Menu .menu-body ul li {
  cursor: pointer;
  font-size: 30px;
  color: #ddd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Menu .menu-body ul li:hover {
  color: #a1a1a1;
}

@media screen and (max-width: 993px) {
  .Menu {
    width: 100%;
    position: absolute;
    left: -10px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
}

@media screen and (max-width: 632px) {
  .Menu {
    position: absolute;
    left: 0px;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
}

.side-menu-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  width: 100%;
}

.Main {
  width: 70%;
}

.Main .main-header {
  height: 10vh;
  border: 1px solid #222831;
}

.Main .main-header .burger-menu {
  cursor: pointer;
  height: 50%;
  margin-top: 15px;
  margin-left: 20px;
  width: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Main .main-header .burger-menu .line {
  border: 2px solid #f05454;
  border-radius: 50px;
}

.Main .main-header .burger-menu .line-2 {
  width: 70%;
}

.Main .main-header .burger-menu .line-3 {
  width: 50%;
}

.Main .main-body {
  height: 90vh;
}

.Main .main-body .image-container {
  height: 70vh;
  padding: 50px;
}

.Main .main-body .image-container img {
  width: 100%;
  height: 100%;
}

.Main .main-body .text-content {
  height: 19.5vh;
  text-align: center;
  color: #ddd;
  font-size: 25px;
}

@media screen and (max-width: 993px) {
  .Main {
    width: 100%;
  }
  .Main .main-header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Main .main-body img {
    height: 500px;
  }
  .Main .main-body .text-content {
    margin-top: 0px;
  }
}

.PersonalInfo {
  width: 70%;
  height: 100vh;
}

.PersonalInfo .info-header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PersonalInfo .info-header .burger-menu {
  cursor: pointer;
  height: 50%;
  margin-top: 15px;
  margin-left: 20px;
  width: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.PersonalInfo .info-header .burger-menu .line {
  border: 2px solid #f05454;
  border-radius: 50px;
}

.PersonalInfo .info-header .burger-menu .line-2 {
  width: 70%;
}

.PersonalInfo .info-header .burger-menu .line-3 {
  width: 50%;
}

.PersonalInfo .info-header h2 {
  text-align: center;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ddd;
  font-size: 30px;
}

.PersonalInfo .info-body {
  height: 89.5vh;
}

.PersonalInfo .info-body .image-container {
  height: 70vh;
  padding: 50px;
}

.PersonalInfo .info-body .image-container img {
  width: 100%;
  height: 100%;
}

.PersonalInfo .info-body .button-container {
  height: 19.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.PersonalInfo .info-body .button-container button {
  background-color: #f05454;
  border: none;
  color: #ddd;
  margin: auto;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.PersonalInfo .info-body .button-container button:hover {
  background-color: #b33c3c;
}

@media screen and (max-width: 993px) {
  .PersonalInfo {
    width: 100%;
  }
  .PersonalInfo .info-header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .PersonalInfo .info-body .image-container {
    padding: 90px;
  }
}

@media screen and (max-width: 360px) {
  .PersonalInfo .info-body .image-container {
    padding: 0 20px;
  }
}

.Education {
  width: 70%;
  height: 100vh;
  position: relative;
}

.Education .education-header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Education .education-header .burger-menu {
  cursor: pointer;
  height: 50%;
  margin-top: 15px;
  margin-left: 20px;
  width: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Education .education-header .burger-menu .line {
  border: 2px solid #f05454;
  border-radius: 50px;
}

.Education .education-header .burger-menu .line-2 {
  width: 70%;
}

.Education .education-header .burger-menu .line-3 {
  width: 50%;
}

.Education .education-header h2 {
  text-align: center;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ddd;
  font-size: 30px;
}

.Education .education-body {
  height: 89.5vh;
}

.Education .education-body .image-container {
  height: 70vh;
  padding: 50px;
}

.Education .education-body .image-container img {
  width: 100%;
  height: 100%;
}

.Education .education-body .button-container {
  height: 19.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.Education .education-body .button-container button {
  background-color: #f05454;
  border: none;
  color: #ddd;
  margin: auto;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.Education .education-body .button-container button:hover {
  background-color: #b33c3c;
}

.Education .add-education-btn {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #f05454;
  border: none;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Education .add-education-btn svg {
  fill: #ddd;
  width: 20px;
  height: 20px;
}

.Education .add-education-btn:hover {
  background-color: #b33c3c;
}

@media screen and (max-width: 993px) {
  .Education {
    width: 100%;
  }
  .Education .education-header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .PersonalInfo .education-body .image-container {
    padding: 90px;
  }
}

@media screen and (max-width: 360px) {
  .Education .education-body .image-container {
    padding: 0 20px;
  }
}

.WorkExp {
  width: 70%;
  height: 100vh;
  position: relative;
}

.WorkExp .work-header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.WorkExp .work-header .burger-menu {
  cursor: pointer;
  height: 50%;
  margin-top: 15px;
  margin-left: 20px;
  width: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.WorkExp .work-header .burger-menu .line {
  border: 2px solid #f05454;
  border-radius: 50px;
}

.WorkExp .work-header .burger-menu .line-2 {
  width: 70%;
}

.WorkExp .work-header .burger-menu .line-3 {
  width: 50%;
}

.WorkExp .work-header h2 {
  text-align: center;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ddd;
  font-size: 30px;
}

.WorkExp .work-body {
  height: 89.5vh;
}

.WorkExp .work-body .image-container {
  height: 70vh;
  padding: 50px;
}

.WorkExp .work-body .image-container img {
  width: 100%;
  height: 100%;
}

.WorkExp .work-body .button-container {
  height: 19.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.WorkExp .work-body .button-container button {
  background-color: #f05454;
  border: none;
  color: #ddd;
  margin: auto;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.WorkExp .work-body .button-container button:hover {
  background-color: #b33c3c;
}

.WorkExp .add-work-btn {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #f05454;
  border: none;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.WorkExp .add-work-btn svg {
  fill: #ddd;
  width: 20px;
  height: 20px;
}

.WorkExp .add-work-btn:hover {
  background-color: #b33c3c;
}

@media screen and (max-width: 993px) {
  .WorkExp {
    width: 100%;
  }
  .WorkExp .work-header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .WorkExp .work-body .image-container {
    padding: 90px;
  }
}

@media screen and (max-width: 360px) {
  .WorkExp .work-body .image-container {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=main.css.map */